/* User Component */
.user {
  width: 135px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  float: left;
  margin-right: 10px;
}

.user__photo {
  width: 100%;
  display: block;
  border-radius: 50%;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35);
}

.user__name {
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
  padding: 10px 0;
}

.user--dark {
  background: #333333;
  border-color: #1a1a1a;
}

.user--dark .user__name {
  color: #ffffff;
}

/* Button Component */
.button {
  width: 100%;
  color: #222222;
  background: #cccccc;
  padding: 7px 12px;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.button:active {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
}

.button--primary {
  background: #0066cc;
  color: #ffffff;
}

.button--primary:active {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
}
